body {
    background-color: #deffa4;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.error-box,
.warning-box {
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid;
}

.error-box {
    background-color: #d16c61;
    color: #800200;
    border-color: #800200;
}

.warning-box {
    background-color: #e8c700;
    color: #6d5900;
    border-color: #6d5900;
}